<!doctype html>
<html lang="en">
  <head>
    {% include _head.html %}
    <link rel="stylesheet" href="/assets/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/examples-classic.css" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    <script src="/dist/compat/slick.core.js"></script>
    <script src="/dist/compat/slick.grid.js"></script>
    <script src="/assets/slick.dataview.js"></script>
  </head>
  <body>
    <h1>{{ page.title }} - Classic SlickGrid Examples</h1>
    <section>
      {{ content }}
    </section>
    {% include _footer.html %}
  </body>
</html>